<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cooking-sait</title>
</head>
<body>
    <li class="{%block about_1%}{%endblock%}"><a href="/cooking/plov/1">Плов</a> </li>
    <li class="{%block about_2%}{%endblock%}"><a href="/cooking/soup/1">Суп</a> </li>
    <li class="{%block about_3%}{%endblock%}"><a href="/cooking/porridge/1">Каша</a> </li>

</body>
</html>