<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <p>Имя: {{ user.name }} Возраст: {{ user.age }}</p>
    <p>Адрес: ул.{{ adress.0 }}, дом {{ adress.1 }}, кв. {{ adress.2 }}</p>
    <p>Языки: {{ langs.0 }}, {{ langs.1 }}</p>

</body>
</html>