<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django</title>
</head>
<body>
    <li class="{%block about_1%}{%endblock%}"><a href="/">Главная</a> </li>
    <li class="{%block about_2%}{%endblock%}"><a href="/news">Новости</a> </li>
    <li class="{%block about_3%}{%endblock%}"><a href="/management">Руководство компании</a> </li>
    <li class="{%block about_4%}{%endblock%}"><a href="/about_company">О компании</a> </li>
    <li class="{%block about_5%}{%endblock%}"><a href="/contacts">Контакты</a> </li>
    <li class="{%block about_6%}{%endblock%}"><a href="/branches">Главная по городам</a> </li>
    <br>
    Сейчас {% now "l, F j, Y g:i:s A" %}
    <br>
        <ul>
        {% for i in langs %}
        <li> {{ i }} </li>
        {% endfor%}
    </ul>
</body>
</html>